<div class="card" [ngClass]="cardClass">
  <div class="card-header" [ngClass]="headerClass">
    <ng-container *ngIf="title || subtitle">
      <h3 *ngIf="title" class="card-title">{{ title }}</h3>
      <p *ngIf="subtitle" class="card-subtitle">{{ subtitle }}</p>
    </ng-container>
    <ng-content select="[card-header]"></ng-content>
  </div>
  <div class="card-body" [ngClass]="bodyClass">
    <ng-content select="[card-body]"></ng-content>
  </div>
  <div class="card-footer" [ngClass]="footerClass">
    <ng-content select="[card-footer]"></ng-content>
  </div>
</div>
